<div
    id="activity-filters"
    class="control-filter"
    data-active-scope-name="created_at"
    data-control="filterwidget"
    data-update-handler="onLoadActivity">
    <a id="date-filter" class="filter-scope-date filter-has-popover range " href="javascript:;" data-scope-name="created_at">
        <span class="filter-label">Date:</span>
        <span class="filter-setting">all periods</span>
    </a>
</div>

<div class="control-list m-t-md">
    <label>Ledger</label>
    <table id="ledger-table" class="table data" data-control="rowlink">
        <thead>
            <tr>
                <th><span>Date/Time</span></th>
                <th><span>Description</span></th>
                <th><span>In</span></th>
                <th><span>Out</span></th>
                <th><span>Balance</span></th>
            </tr>
        </thead>
        <tbody id="ledger-tbody">
            <tr class="no-data">
                <td colspan="100" class="nolink">
                    <p class="no-data">
                        There is no data to show.
                    </p>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th id="ledger-in-total"></th>
                <th id="ledger-out-total"></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>

<div class="control-list m-t-md">
    <label>Products</label>
    <table class="table data">
        <thead>
            <tr>
                <th><span>Name</span></th>
                <th><span>Count</span></th>
                <th><span>Total</span></th>
            </tr>
        </thead>
        <tbody id="products-tbody">
            <tr class="no-data">
                <td colspan="100" class="nolink">
                    <p class="no-data">
                        There is no data to show.
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    $('#date-filter').data('scope-data', {
        dates: [moment().startOf('month'), moment()],
        minDate: moment().subtract(2, 'years'),
        maxDate: moment(),
        firstDay: 0,
        yearRange: 2
    })
    setTimeout(function() {
        var fw = $('#activity-filters').data('oc.filterwidget');
        fw.scopeValues['created_at'] = {
            dates: [moment().startOf('month').format('YYYY-MM-DD HH:mm:ss'), moment().format('YYYY-MM-DD HH:mm:ss')]
        }
        fw.updateScopeDateSetting($('#date-filter'), [moment().startOf('month').format('YYYY-MM-DD HH:mm:ss'), moment().format('YYYY-MM-DD HH:mm:ss')]);
        fw.isActiveScopeDirty = true
        fw.pushOptions('created_at')
    }, 100);
    $('#ledger-tbody').on('ajaxUpdate', function() {
        var $table = $(this).closest('table');
        $table.data('oc.rowlink', null);
        $table.rowLink();
    })
</script>
