<p class="help-block">
    <a href="#adjust-balance-modal" data-toggle="modal">Adjust balance</a>
</p>

<div class="control-popup modal fade" id="adjust-balance-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Adjust account balance</h4>
            </div>
            <div class="modal-body">
                <div class="form-group text-field is-required">
                    <label>New balance</label>
                    <input type="number" name="new_balance" value="<?= $model->current_balance ?>" pattern="-?\d+(\.\d+)?" class="form-control" />
                </div>
                <div class="form-group text-field is-required">
                    <label>Reason for adjustment</label>
                    <input type="text" name="new_balance_reason" value="" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button
                    data-request="onUpdateBalance"
                    data-request-complete="textStatus != 'success' || onAdjustmentSuccess()"
                    type="button"
                    class="btn btn-primary"
                    >Update balance</button>
            </div>
        </div>
    </div>
</div>

<script>
    function onAdjustmentSuccess() {
        $('#adjust-balance-modal').modal('hide')
        var fw = $('#activity-filters').data('oc.filterwidget')
        fw.isActiveScopeDirty = true
        fw.pushOptions('created_at')
        $('[name="new_balance_reason"]').val('');
    }
</script>
