<?php foreach($lines as $line): ?>
<tr class="<?= $line->transaction_id ? 'rowlink' : '' ?>">
    <td>
        <?php if ($line->transaction_id): ?>
            <a href="<?= Backend::url('oppin/pos/reports/transaction/' . $line->transaction_id) ?>"><?= Backend::dateTime($line->created_at) ?></a>
        <?php else: ?>
            <?= Backend::dateTime($line->created_at) ?>
        <?php endif; ?>
    </td>
    <td><?= $line->name ?></td>
    <td><?= $line->line_amount > 0 ? number_format($line->line_amount, 2) : '' ?></td>
    <td><?= $line->line_amount < 0 ? number_format(abs($line->line_amount), 2) : '' ?></td>
    <td><?= number_format($line->balance, 2) ?></td>
</tr>
<?php endforeach; ?>
<?php if (!$lines->count()): ?>
<tr class="no-data">
    <td colspan="100" class="nolink">
        <p class="no-data">
            There is no data to show.
        </p>
    </td>
</tr>
<?php endif; ?>
