<div data-control="toolbar">
    <a href="<?= Backend::url('oppin/poshospitality/accounts/create') ?>" class="btn btn-primary oc-icon-plus">
        New Account
    </a>

    <button class="btn btn-danger oc-icon-trash-o" disabled="disabled"
        onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked') })"
        data-request="onDelete" data-request-confirm="Are you sure you want to delete the selected Accounts?"
        data-trigger-action="enable" data-trigger=".control-list input[type=checkbox]" data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', 'disabled')" data-stripe-load-indicator>
        Delete selected
    </button>

    <button class="btn btn-default oc-icon-money" disabled="disabled" id="funds-button"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]" data-trigger-condition="checked" data-toggle="modal"
        data-target="#funds-modal">
        Add/remove funds
    </button>

    <button class="btn btn-default oc-icon-file-text-o" disabled="disabled" id="statements-button"
        onclick="$('#statements-accounts').val($('.control-list').listWidget('getChecked'))" data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]" data-trigger-condition="checked" data-toggle="modal"
        data-target="#statements-modal">
        Statements
    </button>
</div>
