<?php foreach($products as $product): ?>
<tr>
    <td><?= $product->name ?></td>
    <td><?= number_format($product->count) ?></td>
    <td><?= number_format($product->total, 2) ?></td>
</tr>
<?php endforeach; ?>
<?php if (!$products->count()): ?>
<tr class="no-data">
    <td colspan="100" class="nolink">
        <p class="no-data">
            There is no data to show.
        </p>
    </td>
</tr>
<?php endif; ?>
