
<?= $this->listRender() ?>

<div class="modal fade" tabindex="-1" role="dialog" id="funds-modal">
    <div class="modal-dialog" role="document">
        <form class="modal-content"
            onsubmit="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked') })"
            data-request="onApplyFunds" data-request-success="$('#funds-modal').modal('hide')"
            data-stripe-load-indicator>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add/remove funds</h4>
            </div>
            <div class="modal-body">
                <p>Adjust the balance of all selected accounts by the following amount (negative figures are allowed)
                </p>
                <div class="form-group span-full">
                    <label>Amount</label>
                    <input required type="text" name="amount" value="" class="form-control"
                        pattern="^-?[0-9]+\.?[0-9]{0,2}$" />
                </div>
                <div class="form-group span-full">
                    <label>Reason</label>
                    <input required type="text" name="reason" value="" class="form-control" />
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Apply</button>
            </div>
        </form>
    </div>
</div>

<div class="modal fade " tabindex="-1" role="dialog" id="statements-modal">
    <div class="modal-dialog modal-sm" role="document">
        <form
            class="modal-content"
            action="accounts/statements"
            method="GET"
        >
            <input id="statements-accounts" type="hidden" name="accounts" value="">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Generate statements</h4>
            </div>
            <div class="modal-body">
                <p>Generate account statements between following dates</p>
                <div class="form-group  widget-field span-full" data-field-name="from" id="Form-field-Statement-from-group">
                    <label for="Form-field-Statement-from">
                        From </label>


                    <!-- Widget -->

                    <div id="DatePicker-formA-from" class="field-datepicker" data-control="datepicker"
                        data-show-week-number="" data-disposable="">

                        <!-- Date -->
                        <div class="input-with-icon right-align">
                            <i class="icon icon-calendar-o"></i>
                            <input type="text" id="DatePicker-formA-date-from" class="form-control align-right"
                                autocomplete="off" data-datepicker="" required>
                        </div>

                        <!-- Data locker -->
                        <input type="hidden" name="from" id="Form-field-Statement-from" value=""
                            data-datetime-value="">

                    </div>
                </div>
                <div class="form-group  widget-field span-full" data-field-name="to" id="Form-field-Statement-to-group">
                    <label for="Form-field-Statement-to">
                        To </label>


                    <!-- Widget -->

                    <div id="DatePicker-formA-to" class="field-datepicker" data-control="datepicker"
                        data-show-week-number="" data-disposable="">

                        <!-- Date -->
                        <div class="input-with-icon right-align">
                            <i class="icon icon-calendar-o"></i>
                            <input type="text" id="DatePicker-formA-date-to" class="form-control align-right"
                                autocomplete="off" data-datepicker="" required>
                        </div>

                        <!-- Data locker -->
                        <input type="hidden" name="to" id="Form-field-Statement-to" value=""
                            data-datetime-value="">

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Generate</button>
            </div>
        </form>
    </div>
</div>
