<style>
    @media print {
        nav#layout-mainmenu.navbar-mode-inline {
            display: none;
        }
    }
</style>
<?php foreach ($accounts as $account): ?>
    <h1 class="h5 text-center m-b-lg">STATEMENT</h1>
    <h4 class="m-b-lg">
        <div class="pull-right"><?= $from->format('d M Y') ?> - <?= $to->format('d M Y') ?></div>
        <?= $account->title . ' ' . $account->first_name . ' ' . $account->last_name; ?><br>
        <small><?= $account->location->name ?></small>
    </h4>
    <table id="ledger-table" class="table data" data-control="rowlink">
        <thead>
            <tr>
                <th><span>Date/Time</span></th>
                <th><span>Description</span></th>
                <th><span>In</span></th>
                <th><span>Out</span></th>
                <th><span>Balance</span></th>
            </tr>
        </thead>
        <tbody id="ledger-tbody">
            <?php foreach($activities[$account->id]['ledger']->whereNotIn('line_amount', [0]) as $line): ?>
            <tr class="<?= $line->transaction_id ? 'rowlink' : '' ?>">
                <td>
                    <?= Backend::dateTime($line->created_at) ?>
                </td>
                <td>
                    <?= $line->name ?><br>
                    <?php if ($line->transaction): ?>
                        <?php foreach ($line->transaction->lines->where('object_type', 'Oppin\POS\Models\Product') as $tline): ?>
                            - <?= $tline->qty != 1 ? $tline->qty . ' x ' : '' ?><?= $tline->name ?><br>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </td>
                <td><?= $line->line_amount > 0 ? number_format($line->line_amount, 2) : '' ?></td>
                <td><?= $line->line_amount < 0 ? number_format(abs($line->line_amount), 2) : '' ?></td>
                <td><?= number_format($line->balance, 2) ?></td>
            </tr>
            <?php endforeach; ?>
            <?php if (!$lines->count()): ?>
            <tr class="no-data">
                <td colspan="100" class="nolink">
                    <p class="no-data">
                        There is no data to show.
                    </p>
                </td>
            </tr>
            <?php endif; ?>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th id="ledger-in-total"><small style="font-weight: 400;">TOTAL IN</small><br><?= number_format($activities[$account->id]['inTotal'], 2) ?></th>
                <th id="ledger-out-total"><small style="font-weight: 400;">TOTAL OUT</small><br><?= number_format($activities[$account->id]['outTotal'], 2) ?></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
    <div style="page-break-after: always;"></div>
<?php endforeach; ?>
